<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
        <!-- Googleアナリティクス -->
        {% if GOOGLE_ANALYTICS_TRACKING_ID %}
            {% include 'musicapp/ga.html' %}
        {% endif %}
        <meta charset="utf-8">
        <meta http-equiv="content-language" content="ja">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>music_app</title>
        <!-- ファビコン -->
        <link rel="icon" href="{% static 'musicapp/icon/favicon.ico' %}">
        <!-- css -->
        <link rel="stylesheet" href="{% static 'musicapp/css/home.css' %}">
        <!-- フォント -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div>
            <form method="POST" action="{% url 'player' %}" class="search">
                {% csrf_token %}
                <input type="text" name="q"  placeholder="検索" class="box">
            </form>
        </div>
        <div class="videoList">
            {% for video in videoList %}
                <a href="{% url 'player' %}?v={{ video.id }}" class="video">
                    <img src="https://img.youtube.com/vi/{{ video.movie }}/mqdefault.jpg" alt="{{ video.movie }}" class="img">
                    <p class="title">{{ video.title }}</p>
                    <p class="name">{{ video.name }}</p>
                </a>
            {% endfor %}
        </div>
    </body>
</html>